<div class="project-name">
  <%= @project.name %>
</div>
<div class="project-description">
  <%= @project.description %>
</div>

<div class="edit-project">
  <%= link_to "Edit project", edit_project_path %>
</div>
